{% if niños %}
{% if asistencia_registrada %}
<h3 class="text-lg font-semibold mb-2">Asistencia registrada para {{ fecha }}</h3>
<ul class="space-y-2">
    {% for niño in niños %}
    <li class="flex justify-between items-center">
        <span>{{ niño.nombre }} (Edad: {{ niño.edad }})</span>
        <span class="px-2 py-1 rounded-full text-sm 
                    {% if niño.estado == 'Sano' %}bg-green-200 text-green-800
                    {% elif niño.estado == 'Enfermo' %}bg-red-200 text-red-800
                    {% elif niño.estado == 'Decaído' %}bg-yellow-200 text-yellow-800
                    {% else %}bg-gray-200 text-gray-800{% endif %}">
            {{ niño.estado }}
        </span>
    </li>
    {% endfor %}
</ul>
<script>
    document.getElementById('search-container').style.display = 'block';
    document.getElementById('actions-container').style.display = 'none';
</script>
{% else %}
<h3 class="text-lg font-semibold mb-2">Registrar asistencia para {{ fecha }}</h3>
<div class="flex items-center space-x-2 justify-between mb-4">
    <div>
        <input type="checkbox" id="select-all" class="form-checkbox h-4 w-4 text-primary mr-2">
        <label for="select-all" class="text-sm font-medium">Seleccionar todos</label>
    </div>
</div>
{% for niño in niños %}
<div class="flex items-center space-x-2 justify-between mb-2">
    <div>
        <input type="checkbox" name="niños" id="child-{{ niño.id }}" class="form-checkbox h-4 w-4 text-primary mr-2"
            value="{{ niño.id }}" form="asistencia-form">
        <label for="child-{{ niño.id }}" class="text-sm font-medium">{{ niño.nombre }}
            (Edad: {{ niño.edad }})</label>
    </div>

    <select name="estado_{{ niño.id }}" form="asistencia-form"
        class="block border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-primary focus:border-primary sm:text-sm min-w-40">
        {% for estado in estados %}
        {% if estado != 'No asistió' %}
        <option value="{{ estado }}">{{ estado }}</option>
        {% endif %}
        {% endfor %}
    </select>
</div>
{% endfor %}
<script>
    document.getElementById('search-container').style.display = 'none';
    document.getElementById('actions-container').style.display = 'flex';
    var selectAllCheckbox = document.getElementById('select-all');
    console.log('selectAllCheckbox', selectAllCheckbox);
    if (selectAllCheckbox) {
        selectAllCheckbox.addEventListener('change', function (event) {
            console.log('selectAllCheckbox', event.target.checked);
            var checkboxes = document.querySelectorAll('input[name="niños"]');
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = event.target.checked;
            });
        });
    }
</script>
{% endif %}
{% else %}
<p class="text-sm text-gray-500 mt-2">No se encontraron estudiantes para esta institución.</p>
{% endif %}